{% extends 'base.html' %}
{% block title %} Pet Adoption {% endblock %}
{% block content %}

{% for pet in pets %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ pet.photo_url }}" alt="Card image cap">
    <div class="card-body">
        {% if pet.available %}
        <h5 class="card-title">{{pet.name}} is available</h5>
        {{% else % }}
        <h5 class="card-title">{{pet.name}} is not available</h5>
        {% endif %}
        <a href="#" class="btn btn-primary">Pet Details</a>
    </div>
</div>
{% endfor %}
<a href="#" class="btn btn-primary">Add Pet</a>

{% endblock %}